body{
  text-align: center;
  font-size: 25px;
  background-image: linear-gradient(to right top, #00c9aa, #48d3b7, #6addc5, #87e6d2, #a2f0df, #a4eadc, #a6e4d8, #a8ded4, #93c8bf, #7fb2ab, #6b9d97, #578883);
}
h1{
  padding: 5px;
  font-weight: 400;
  text-shadow: 2px 2px black;
  color: white;
}
button{
  font-size: 25px;
  font-family: monospace;
  background-color: #36a420;
  border: none;
  padding: 5px 25px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-family: 350;
  transition-duration: 0.4s;
  /* border: 1px solid lightgreen; */
}
button:hover{
  background-color: rgb(75, 207, 75);
}
button:active{
  background-color: darkgreen;
  color: white;
}
input{
  font-size: 20px;
  padding-left: 5px;
}
.signupform{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-left: 420px;
  margin-right: 420px;
  border: 2px solid none;
  background-color:#659B90;
  color: white;
}